<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yk.silent.permission" >

    <application>
        <!-- 权限页面 -->
        <activity
           android:name=".widget.activity.PermissionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/CustomTheme_Dialog" />

    </application>
</manifest>
